.ball {
  border: 1px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 100px;
  margin: 0 2px;
  width: 100px;
}

.ball:first-child {
  margin-left: 0;
}

.ball:last-child {
  margin-right: 0;
}
